DEBUG=True
SECRET_KEY=1234
ALLOWED_HOSTS=127.0.0.1,localhost

# Base de datos por defecto
DB_ENGINE=sqlite

# Postgres
DB_ENGINE=postgres
DB_NAME=aerolinea
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
